*{
     margin: 0px;
     padding: 0px;
}
body{
     background-image: url(coffee-background.jpg);
     color: black;
     text-align: center;
}
.container{
     max-width: 400px;
     background-color: rgb(243, 142, 10);
     margin: 50px auto;
     width: 70%;
     border-radius: 10px;
}
h1{
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     padding-top: 10px;
     
}
.est{
     font-style: italic;
     font-size: 1rem;
     margin: 5px;
 
}
hr{
     background-color: brown;
     height: 3px;
     margin: 0 10px;
}
h3{
     padding-top: 5px;
}
.div{
     display: flex;
     justify-content: space-between;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div li{
     display: inline;
     margin-top: 7px;
     margin-left: 5px;
     margin-right: 5px;
     
}
.section{
     padding: 10px;
}
i{
     margin: 7px 0px;
}
.visited{
     text-decoration: underline;
     margin: 5px 0px;
}
.subt{
     font-size:12px;
    margin: 5px 0px;
    padding: 7px;
}